<div class="mt-8 text-gray-500">
    <%= render 'shared/profile/project_with_description',
        title: project.title,
        project_url: project.project_url,
        tech_stack: project.tech_stack,
        description: project.description
    %>
</div>